<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
</head>

<body>
    <div id="app">
      <form @submit.prevent="submit">

        <input v-model="startTime" placeholder="put startTime">
        <input v-model="endTime" placeholder="put endTime">
        <input v-model="company" placeholder="put company">
        <p>search {{company}} data from {{startTime}} to {{endTime}}</p>
        <input type="submit" value="提交">
      </form>
      <table border="1">
        <tr>
          <th>startTime</th>
          <th>endTime</th>
          <th>amount</th>
        </tr>
        <tr>
          <td :startTime="startTime">{{startTime}}</td>
          <td :endTime="endTime">{{endTime}}</td>
          <td :amount="amount">{{amount}}</td>
        </tr>
      </table>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                startTime: '2017/2/17',
                endTime: '2017/2/23',
                company: 'y8',
                amount: 0
            },
            methods: {
              submit: function() {
                let url = `http://127.0.0.1:3000/api/getFlightsAmount?company=${this.company}&startTime=${this.startTime}&endTime=${this.endTime}`;
                console.log(url);
                this.$http.get(url).then((response) => {
                  console.log(response);
                  this.amount = response.data
                }, (response) => {
                    console.error(response);
                });
              }
          }
        })
    </script>
</body>

</html>
